#include<stdio.h>
#include<algorithm>
#include<string>
#include<iostream>

/*
  ${CLASSNAME}
*/

using namespace std;
 
int main(){
    int n;
    int N[];

    while(scanf("%d",&n)!=EOF){
      
      
      
    }

    return 0;
}
